# Security - Environment Variables (ALL PATTERNS)
.env
.env*
.env.local
.env*.local
*.env
*.pem

# Docker
.dockerignore
docker-compose.yml
Dockerfile
.devcontainer

# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next
out
.next/cache

# Backend
backend/

# Misc
.DS_Store
.vercel
.git
.github
.vscode
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage
