# Docker
.dockerignore
docker-compose.yml
Dockerfile
.devcontainer

# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Next.js
.next
out

# Backend
backend/

# Misc
.DS_Store
*.pem
.env
.env*.local
.vercel
.git
.github
.vscode
